{:kotoba.app/id "cloud.itonami.isic-9499", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif5qveulgulo3cplbfevolrotk3mtvbwdxw4n7yecp5mbmmzzuto4", :kotoba.app/embed-url "ipfs://bafkreif5qveulgulo3cplbfevolrotk3mtvbwdxw4n7yecp5mbmmzzuto4", :published {:archive "https://kotobase.net/ipfs/bafkreif5qveulgulo3cplbfevolrotk3mtvbwdxw4n7yecp5mbmmzzuto4", :size 76908, :put-status 201, :get-status 200, :at "2026-08-15T13:35:54.539Z"}}
